@model WorkFlowApplication.Models.EntityModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EntityModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntityOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityCriteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityCriteria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExitCriteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExitCriteria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityCreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityCreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityCloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityCloseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityApproved)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
